@{
    ViewData["Title"] = "Admin Login";
}
@model LoginModel

<div class="text-center">
    <h3 class="display-1">Giriş Yap</h3>

</div>
<div style="width:50%;margin-left:25%;" class="mt-5">
    <form asp-action="Login" method="post">
        <div class="row">
            <div class="col-12">
                <label>Kullanıcı Adı</label>
                <input asp-for="username" class="form-control" />
            </div>
            <div class="col-12 mt-2">
                <label>Şifre</label>
                <input asp-for="password" class="form-control" />
            </div>
        </div>
        <input type="submit" value="Giriş" class="form-control mt-5" />
    </form>
</div>
